<p>Bạn vừa yêu cầu lấy lại mật khẩu trên vvideo</p>
<p>Dưới đây là mật khẩu mới của bạn:</p>
<p>
  <b>Email: </b><a href="{{ email }}">{{email}}</a>
</p>
<p>
  <b>Email: </b>{{password}}
</p>
<p>Hãy đổi mật khẩu sau khi đăng nhập thành công.</p>
<p>Chân thành cảm ơn bạn đã tin tưởng và sử dụng vvideo!<p>
<p>Đây là email trả lời tự động vui lòng không trả lời.<p>
